

<footer>
      <aside id="map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3374.582531325626!2d-110.9721428!3d32.24240540000001!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x86d671151ab049ad%3A0x39e33578379519f9!2sSouthern+Arizona+Rain+Gutters%2C+Inc.!5e0!3m2!1sen!2sus!4v1439590304999" width="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
      </aside>

      <aside id="info">
            <div id="infoLeft">
                  <h3>Visit Us</h3>
                  Southern Arizona Raingutters<br>
                  1627 N Stone Avenue<br>
                  Tucson, Arizona 85705<br>
                  <br>
                  <br>
                  <h3>Hours</h3>
                  Mon - Fri: 8:00 am – 4:00 pm<br>
                  Sat - Sun: CLOSED<br>
            </div>

            <div id="infoRight">
                  <a class="estimate-btn" href="/contact">Free Estimate</a>

                  <div id="media">
                        <a href="#" target="_blank">
                              <object type="image/svg+xml" data="/svg/bbb.svg"></object>
                        </a>

                        <a href="https://www.facebook.com/southernarizonaraingutters" target="_blank">
                              <object type="image/svg+xml" data="/svg/fb.svg"></object>
                        </a>
                  </div>
            </div>

            <div id="cw">
                  <a href="http://verge.website">© 2015 Verge Web Development, LLC</a>
            </div>
      </aside>
</footer>
</body>
