

</body>
<footer>
      <div id="map">
            map
      </div>

      <div id="info">
            <div>
                  <h3>Visit Us</h3>
                  Southern Arizona Raingutters<br>
                  1627 N Stone Avenue<br>
                  Tucson, Arizona 85705<br>
                  <br>
                  <br>
                  <h3>Hours</h3>
                  Mon - Fri: 8:00 am – 4:00 pm<br>
                  Sat - Sun: CLOSED<br>
            </div>

            <div>
                  <button class="estimate-btn">Free Estimate</button>

                  <div id="media">
                        <a href="#">
                              <object type="image/svg+xml" data="/svg/bbb.svg"></object>
                        </a>

                        <a href="#">
                              <object type="image/svg+xml" data="/svg/fb.svg"></object>
                        </a>
                  </div>
            </div>

            <div class="clear"></div>

            <p id="cw">
                  <a href="http://verge.website">© 2015 Verge Web Development, LLC</a>
            </p>
      </div>
</footer>
