<head>
      <title>{{tabTitle}}</title>
      <meta name="description" content="Southern Arizona Rain Gutters provides gutters and Rainwater Harvesting Systems for Tucson Az. We offer Gutters, Water Tanks and Cisterns.">
      <meta name="description" content="Southern Arizona Rain Gutters provides Rain Gutters and Rainwater Harvesting Systems in Tucson Az. Seamless Gutters, Cisterns and Plastic Water Tanks">
      <meta name="keywords" content="Rain gutters tucson, rain water harvesting tucson, phoenix ,rain harvesting, raingutters, how to harvest rainwater, Southern Arizona Rain Gutters, seamless, aluminum, copper gutters, leader boxes, gutter installation, tucson arizona, tuscon az, storing rain water harvesting systems, Bushman waterharvest tanks, Steel Cistern, SARG">

      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link type="text/css" rel="stylesheet" href="/css/style.css">
      <link type="text/css" rel="stylesheet" href="/css/pages.css">
      <script type="text/javascript" src="/menu/menu.js"></script>
      <script type="text/javascript" src="/slideShow/slideShow.js"></script>
</head>
<body>
<header>
      <a id="phoneIcon" href="tel:1-520-299-7246">
            <object type="image/svg+xml" data="/svg/phone-signal.svg"></object>
      </a>

      <div id="logo">
            <object type="image/svg+xml" data="/svg/sarg-logo.svg"></object>
            <h1>Southern Arizona<br>Rain Gutters, Inc.</h1>
      </div>

      <nav>
      <menu>
            <object data="menu/icon/menuIcon.svg" type="image/svg+xml"></object>
            <ul>
                  <a href="/">
                        <li>Home</li>
                  </a>
                  <span class="vertical-line"></span>
                  <a href="/about">
                        <li>About</li>
                  </a>
                  <span class="vertical-line"></span>
                  <a href="/contact">
                        <li>Contact</li>
                  </a>
                  <span class="vertical-line"></span>
                  <a href="/rain-gutters">
                        <li>Rain Gutters</li>
                  </a>
                  <span class="vertical-line"></span>
                  <a href="/rain-harvesting">
                        <li>Rain Harvesting</li>
                  </a>
                  <span class="vertical-line"></span>
                  <a href="/greenhouses">
                        <li>Greenhouses</li>
                  </a>
                  <span class="vertical-line"></span>
                  <a href="/screen-enclosures">
                        <li>Screen Enclosures</li>
                  </a>
                  <span class="vertical-line"></span>
                  <a href="/faq">
                        <li>FAQ</li>
                  </a>
                  <span class="vertical-line"></span>
                  <a href="/photos">
                        <li>photos</li>
                  </a>
            </ul>
            <phone href="tel:1-520-299-7246">520-299-7246</phone>
      </menu>
      </nav>
</header>
