<head>
      <title>{{tabTitle}}</title>
      <meta name="description" content="Southern Arizona Rain Gutters provides gutters and Rainwater Harvesting Systems for Tucson Az. We offer Gutters, Water Tanks and Cisterns.">
      <meta name="description" content="Southern Arizona Rain Gutters provides Rain Gutters and Rainwater Harvesting Systems in Tucson Az. Seamless Gutters, Cisterns and Plastic Water Tanks">
      <meta name="keywords" content="Rain gutters tucson, rain water harvesting tucson, phoenix ,rain harvesting, raingutters, how to harvest rainwater, Southern Arizona Rain Gutters, seamless, aluminum, copper gutters, leader boxes, gutter installation, tucson arizona, tuscon az, storing rain water harvesting systems, Bushman waterharvest tanks, Steel Cistern, SARG">

      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link type="text/css" rel="stylesheet" href="/css/style.css">
</head>
<body>

      <header>
            <a id="phone" href="tel:1-520-299-7246">
                  <object type="image/svg+xml" data="/svg/phone-signal.svg">
                        Your browser does not support svg
                  </object>
            </a>

            <div id="logo">
                  <object type="image/svg+xml" data="/svg/sarg-logo.svg">
                        Your browser does not support svg
                  </object>
                  <h1>{{{title}}}</h1>
            </div>

            <nav id="nav">
                  <ul>
                        <li>
                              <a href="/">Home</a>
                        </li>
                        <span class="vertical-line"></span>
                        <li>
                              <a href="/about">About</a>
                        </li>
                        <span class="vertical-line"></span>
                        <li>
                              <a href="/contact">Contact</a>
                        </li>
                        <span class="vertical-line"></span>
                        <li>
                              <a href="/rain-gutters">Rain Gutters</a>
                        </li>
                        <span class="vertical-line"></span>
                        <li>
                              <a href="/rain-harvesting">Rain Harvesting</a>
                        </li>
                        <span class="vertical-line"></span>
                        <li>
                              <a href="/greenhouses">Greenhouses</a>
                        </li>
                        <span class="vertical-line"></span>
                        <li>
                              <a href="/screen-enclosures">Screen Enclosures</a>
                        </li>
                        <span class="vertical-line"></span>
                        <li>
                              <a href="/faq">FAQ</a>
                        </li>
                  </ul>
            </nav>
      </header>
