{{>header}}

      <section id="slideShow">
            <aside>
                  <img src="img/slideShow/it.jpg" class="slide_1_image" alt="Industrial Rain Water Tanks"/>
                  <img src="img/slideShow/dt.jpg" class="slide_1_image" alt="Double Rain Harvesting Tanks"/>
                  <img src="img/slideShow/ft.jpg" class="slide_1_image" alt="Disinger Stainless Steel Flower Tank"/>
            </aside>
            <aside>
                  <img src="img/slideShow/cg.jpg" class="slide_2_image" alt="Copper Rain Gutter"/>
                  <img src="img/slideShow/gg.jpg" class="slide_2_image" alt="Galvalume Rain Gutter"/>
                  <img src="img/slideShow/sag.jpg" class="slide_2_image" alt="Seamless Rain Aluminum Gutter"/>
                  <img src="img/slideShow/mcg.jpg" class="slide_2_image" alt="Matte Copper Rain Gutter"/>
            </aside>
      </section>

      <div id="band">
            Get a rebate! Tucson Water is offering $1.00 per gallon rebates up to $2,000 on tanks 800 gallons and up!!
      </div>

      <section id="specialty">
            <span>
                  <ul>
                        <li>Aluminum</li>
                        <li>Copper</li>
                  </ul>
                  <div>
                        <h2>Rain Gutters</h2>
                        <img id="gutter" class="floatingImages" src="img/index/copperGutter.jpg" alt="Copper Rain Gutters"/>
                  </div>
                  <ul>
                        <li>Custom Gutters</li>
                        <li>Leader Heads</li>
                  </ul>
            </span>

            <div>
                  <h2>Water Harvesting</h2>
                  <img id="water" class="floatingImages" src="img/index/steelTank.jpg" alt="Double Plastic Rain Harvesting Tanks"/>
            </div>
            <div>
                  <h2>Greenhouse</h2>
                  <img id="greenhouse" class="floatingImages" src="img/index/greenhouse.jpg" alt="Greenhouse Green House"/>
            </div>
            <div>
                  <h2>Screen Enclosures</h2>
                  <img id="screen" class="floatingImages" src="img/index/screenEnclosure.jpg" alt="Screen Enclosure, Arizona Room"/>
            </div>
      </section>


      <section id="mission">
            <h3>OUR MISSION</h3>
            <p>
                  <br/>
                  Our mission at Southern Arizona Rain Gutters is to help you solve your water drainage needs
                  and protect your home from unnecessary water damage. We are also passionate about water
                  conservation and can help you find ways to preserve nature’s most precious resource.
            </p>
      </section>

      <section id="serving">
            <h2>Serving Southern Arizona</h2>

            <ul id="tucson">
                  <li><h3>Tucson</h3></li>
                  <li><br/></li>
                  <li>Oro Valley</li>
                  <li>Marana</li>
                  <li>Nogales</li>
                  <li>Vail</li>
                  <li>Casa Grande</li>
                  <li>Green Valley</li>
                  <li>Benson</li>
                  <li>Bisbee</li>
                  <li>Sierra Vista</li>
            </ul>
            <object id="state" data="/svg/az.svg" type="image/svg+xml"></object>
            <ul id="phoenix">
                  <li><h3>Phoenix</h3></li>
                  <li><br/></li>
                  <li>Scottsdale</li>
                  <li>Tempe</li>
                  <li>Mesa</li>
                  <li>Gilbert</li>
                  <li>Chandler</li>
                  <li>Glendale</li>
                  <li>Peoria</li>
                  <li>Queen Creek</li>
                  <li>San Tan Valley</li>
            </ul>
      </section>

{{>footer}}
